.background {
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Efekt metalicznego tła */
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.fade-in {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}