.background {
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Efekt metalicznego tła */
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.fade-in {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.table-rounded {
    border-radius: 15px;
    overflow: hidden; /* Zapobiega wystawaniu zawartości poza zaokrąglone rogi */
}

.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaje subtelny cień */
}

.entity-header {
    margin: 1rem 0;
    text-align: center;
    font-size: 2.0rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}