.navigation-bar {
    display: flex;
    flex-wrap: wrap; /* Pozwala elementom zawijać się, gdy nie mieszczą się w jednym rzędzie */
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navigation-bar button {
    margin: 5px; /* Zapewnia odstęp przy zawijaniu */
    padding: 10px 20px;
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Dodatkowy styl dla zawijania */
@media (max-width: 600px) {
    .navigation-bar {
        justify-content: start;
        flex-direction: column; /* Zmienia kierunek elementów na pionowy */
    }
}

.navigation-bar button:hover {
    background-color: #ffffff;
    color: #010202;
}

.notification-icon {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    color: red
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 0.75em;
}

.hamburger-menu {
    display: none; /* Ukryty domyślnie */
    background-color: #212529;
    color: white;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    display: none; /* Ukryty domyślnie */
    flex-direction: column; /* Dla wyświetlenia w kolumnie */
}

/* Styl dla menu, gdy jest widoczne */
.mobile-menu.active {
    display: flex;
}

/* Wyświetlanie przycisku hamburger i ukrywanie pełnej nawigacji na małych ekranach */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block; /* Pokaż przycisk hamburger */
    }

    .navbar-buttons-pc{
        display: none; /* Ukryj przyciski nawigacji */
    }

    .mobile-menu.hidden {
        display: none; /* Zapewnia, że menu jest ukryte */
    }
}


