version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend/dominicanAppBackend
      dockerfile: Dockerfile
    restart: always
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      FRONTEND_URL: ${NGINX_URL}
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend-builder:
    build:
      context: ./frontend/dominicanappfrontend
      dockerfile: Dockerfile
      args:
        REACT_APP_BACKEND_URL: ${NGINX_URL}
        REACT_APP_FRONTEND_URL: ${NGINX_URL}
    depends_on:
      - backend
    volumes:
      - ./frontend/dominicanappfrontend:/app     # Map local files to the container
      - frontend-build:/app/build

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - frontend-build:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    environment:
      - SERVER_NAME=${SERVER_NAME}
    entrypoint: ["/bin/sh", "-c", "/start-nginx.sh"]
    depends_on:
      - frontend-builder
      - backend

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw

volumes:
  postgres_data:
  frontend-build: