.login-background {
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Efekt metalicznego tła */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.login-box, .login-image {
    flex: 1;
    margin: 10px 70px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center; /* Wyrównanie pionowe do środka */
    justify-content: center; /* Wyrównanie poziome do środka */
}

.login-image img {
    max-width: 100%; /* Sprawia, że obraz jest responsywny */
    height: auto; /* Zachowuje proporcje obrazu */
}

.google-login {
    display: inline-block;
    background-color: #32dae0;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 5px;
    text-decoration: none;
    width: 100%;
}

.google-login:hover {
    background-color: #17bdda;
}

.google-login svg {
    margin-right: 10px;
    vertical-align: bottom;
}

.btn-register {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* Zmienia układ elementów na pionowy */
        align-items: stretch; /* Rozciąga elementy, aby zajmowały całą dostępną szerokość */
    }

    .login-box, .login-image {
        max-width: 100%; /* Pozwala boxom na zajęcie całej dostępnej szerokości */
        flex-basis: auto; /* Resetuje bazową wielkość boxów, aby mogły się dostosować */
        margin: 10px 0; /* Dostosowuje marginesy dla układu pionowego */
    }
}


